@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #145da0; // body
  --second-color: #b1d4e0; // form

  --primary-text-color: rgba(255, 255, 255, 0.87);
  --second-text-color: #0c2d48;

  --btn-color: #2e8bc0;
}

body {
  font-family: "Roboto", sans-serif;
  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

main.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  gap: 35px;

  .form-wrapper {
    background-color: var(--second-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    border-radius: 15px;
    color: var(--second-text-color);

    h1 {
      text-align: center;
    }

    .form-content {
      margin: 20px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-field {
        // background-color: tomato;
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;

        input {
          width: 100%;
          padding: 10px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid var(--second-text-color);
          outline: none;
          color: #0c2d48;
          font-size: 18px;
        }
      }

      .btn {
        background-color: #0c2d48;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        font-size: 16px;
        cursor: pointer;
      }

      .form-field--comment textarea {
        resize: vertical;
        height: 100px;
        width: 100%;
        padding: 10px;
        background-color: #0c2d48;
        border: 1px solid var(--primary-color);
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        outline: none;
      }
    }
  }

  .content {
    background-color: var(--second-color);
    color: var(--second-text-color);
    padding: 15px;
    border-radius: 15px;
    max-height: 575px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .wrapper {
      padding: 25px;

      h2 {
        font-size: 18px;
      }

      h2,
      p {
        margin-bottom: 10px;
      }
    }
  }
}
